/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-align: center;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  background-color: #f5f5f5;
}
.table:hover {
  font-weight: bold;
  color: red;
}

td .description:hover {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: red;
}
